*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(162, 32, 162);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 60px;
}

header img{
    padding: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

header img:hover{
    height: 40px;
    transition-duration: 700ms;
}


header h1{
    color: purple;
    position: relative;
    top: 8px;

}

main{
    background-color: rgba(0, 0, 0, 0.503);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 150px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px,400px));
    gap:20px;
    height: 80%;
    width: max-content;
}

main .itens{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    width: max-content;
    padding: 10px;
    box-shadow: 1px 1px 10px;
}

#shorts iframe{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 40px;
    position: relative;
    box-shadow: 1px 1px 10px;
}

#shorts{
    background-color: rgba(0, 0, 0, 0.503);
    margin: 20px;
    width: max-content;
    border-radius: 20px;
    position: relative;
    margin-left: 90px;
   
}